body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  background: #c1c1c1;
  background: -webkit-linear-gradient(to bottom, #192353, #f1f0f0);
  background: linear-gradient(to bottom, #192353, #f1f0f0);
}
.App {
  text-align: center;
}
h3 {
  padding: 10px 20px;
}
button {
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  border: 5px solid rgb(234, 234, 235);
  background: #606c88; 
  background: -webkit-linear-gradient(
    to bottom,
    #3f4c6b,
    #606c88
  ); 
  background: linear-gradient(
    to bottom,
    #3f4c6b,
    #606c88
  ); 
}
